.info{
    position:relative;
    font-style: 18px;
    font-weight: 400;

    &--map, &--tel {
        padding-left:35px;
        &::before{
         content: '';

        position:absolute;
        left: 0px;
        top:50%;
        transform: translate(0, -30%);
        width:21px;
        height:21px;

        background-repeat: no-repeat;
        background-position: center;
        }
    }

    &--map:before{
        content: '';

        position:absolute;
        left: 0px;
        top:0px;
        width:21px;
        height:21px;
        background-image:url('./../img/Headers/map.svg');
        background-repeat:no-repeat;
    }


    &--tel:before{
        content: '';

        position:absolute;
        left: 0px;
        top:0px;
        width:21px;
        height:21px;

        background-image:url('./../img/Headers/phone.svg');
        background-repeat:no-repeat;
    }

    @include mediaTablet{
        font-size: 12px;
        &--map, &--tel {
        padding-left: 25px
        
        }
    }


}

